@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .hide-scroll-bar {
        -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
        scrollbar-width: none; /* Hide scrollbar for Firefox */
    }

    .hide-scroll-bar::-webkit-scrollbar {
        display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
    }
}